*{
    background-color: rgb(255, 255, 255);
}
.navbar{
    display: flex;
    position: sticky;
}
.rightnav{
    width: 50%;
    height: 10%;
    margin: 10px;
    margin-left: 20px;
    justify-content: center;
   /* background-color: blue;*/
}
#demo{
    border: 2px solid black;
    align-items: end;
    content: attr(input);
}
.leftnav{
    width: 50%;
    height: 50%;
    margin-top: 25px;
    margin-left: 50%;
}
img{
    margin: 10px;
    width: 90px;
    height: 50px;
    cursor: pointer;
    background-color: brown;
    border-radius: 100%;
}

.rightnav>ul>li:hover{ 
    color:rgb(207, 161, 161);
    text-decoration: underline;
}
ul, li{
    transition: all;
    transition-duration: .1s;
    cursor: pointer;
    margin: 10px;
    display: flex;
}
.Silde-Bar{
    width:100%;
    flex-flow: row wrap;
    height: 400px;
    margin:2px;
    background-color: blue;
    border: 2px solid  rgb(196, 196, 196);
}
.contanier{
    width: 100%;
    height: 350px;
    flex-wrap: wrap;
    gap: 5px;
    border: 2px solid rgb(196, 196, 196);
}
.box{
    width: 700px;
    height: 83px;
    border: 2px solid  rgb(196, 196, 196);
    overflow: auto;
    gap: 3px;
}
.footer{
    width: 100%;
    height: 450px;
    margin-top: 6px;
    display: flex;
    border: 3px solid rgb(78, 77, 77);
}
.rightFooter{
    width: 50%;
    height: 96%;
    margin: 3px;
    border: 5px solid black;
}
.leftFooter{
    width: 50%;
    height: 96%;
    margin: 3px;
    border: 5px solid black;
}
.copy-right{
    margin-left: 470px;
}

