.navbar{
    background-color: aqua;
    vertical-align: top;

}
.rightnav{
    width: 50%;
    height: 10%;
    background-color: blue;
    align-items: center;
}
.leftnav{
    width: 50%;
    height: 50%;
    background-color: yellow;
}
img{
    width: 20px;
    height: 40px;
    background-color: brown;
    border-radius: 100%;
}
.rightnav>ul>li:hover{
    text-decoration: none;
    color:yellow;
    
}